body {
    margin:0;
    padding:0;
}

#scroller {
    position:absolute;
    height:100%;
    width:100%;
}

div.windows > section {
    position:absolute;
    outline:1px solid #ccc;
    overflow:hidden;
}

div.windows > section.adjacent {
    visibility:hidden;
}
