body {
    margin:0;
    padding:0;
}

#scroller {
    position:absolute;
    height:100%;
    width:100%;
}

div.windows > section {
    position:absolute;
    outline:1px solid #333;
}

div.windows > section.content {
    background-color:rgba(200,255,200,0.7);
}

div.windows > section.adjacent {
    background-color:rgba(200,200,200,0.7);
}

/* --- */

#internalscroller {
    width:100px;
    outline:1px solid red;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:9999;
}
