a:link, a:visited {
	text-decoration: none;
	color: #000;
}

.articles-container {
  padding:0 2em;
  position:relative;
}

.article-images, figure, img {
  width: 100%;
	margin:0;
	padding:0;
}

article h1 {
  font-size: 1.8em;
  font-weight: bold;
}

article .more {
  font-size: 0.6em;
	margin-left: 75%;
}

article {
  width: 30%;
  float: left;
  margin: 2px 0;
  overflow: auto;
}

article figure figcaption {
  font-size: smaller;
	color: grey;
}

article:first-child {
  font-size: 1.6em;
  width: 58%;
}

article:first-child h1 {

}

article.wikipeida {
    background:url('/images/wikipedia_icon.png') no-repeat -25px -25px;
    border:1px solid #CCC;
}

.box_title {
    position:absolute;
    top:0;
    right:0;
    background:#555;
    color:white;
    opacity:0.5;
    padding:0.2em;
}