html, body, div.windows {
    width: 100%;
    height:100%;
}

body {
    margin:0;
    padding:0;
    overflow:scroll;
}

div.windows {
    position:relative;
}

div.windows section {
    width: 100%;
    min-height: 100%;
    position:absolute;
    outline:1px solid #333;
}

div.windows section.content {
    background-color:rgba(200,255,200,0.7);
}

div.windows section.adjacent {
    background-color:rgba(200,200,200,0.7);
}
